@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Trabalho do SENAC: CRUD em .Net5</p>
    <p>Autores: Leonardo Vitório de Souza Stuginski e Juliano Cunha</p>
</div>
